 /** Define the margins of your page **/
 @page {
    margin: 100px 25px;
}

header {
    position: fixed;
    top: -60px;
    left: 0px;
    right: 0px;
    height: 50px;
    font-size: 20px !important;

    /** Extra personal styles **/
    color: white;
    text-align: center;
    line-height: 35px;
}

footer {
    position: fixed; 
    bottom: -60px; 
    left: 0px; 
    right: 0px;
    height: 50px; 
    font-size: 20px !important;

    /** Extra personal styles **/
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 35px;  
}
body{
    font-family: Calibri;
    src: url(Calibri.ttf);
}
.page-break {
    page-break-after: always;
}

.p2{
    text-align: left;
    float: right;
    margin-right: 50px;           
}

.container1{
    margin-top: 50px;
}

.navbar {
    text-align: center;
    /* color: white !important; */
    font-size: 14px;
    margin-top: 50px;    
}

#firstTable table {
    border: 3px solid black;
    }

.first {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: none;
    border-bottom: none;
}